.wrap{
    width:100%;
    font-family: Arial;
}
.menu{
    width:10%;
    float: left;
    margin: left;
    height: 1000px;
    background-color: #232014;
}
.menu ul{
    margin: 0px;
    padding: 0px;
}
.menu ul li {
    margin: 0px;
    list-style: none;
    border-bottom: #ffffff solid 1px;
    padding-bottom:15px;
    padding-top: 15px;
    
}
.menu ul li a{
    text-decoration: none;
    color: white;
    padding-left:10px;
}
.content{
    width:85%;
    float: left;
    /* background-color: black; */
    height: 1000px;
}
.content-header{
    width:900px;
    margin:100px 100px 100px 150px;
    background-color: #dddddd;
    /* padding:  */
}
.content-header-title{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top:30px;
}
.content-header-content{
    text-align: center;
    padding: 20px 150px 40px 150px;
}
.content-list{
    width:900px;
    margin: 0px 100px 0px 150px;
}
.box{
    float:left;
    width: 30%;
    margin-right:30px;
}
.box h3{
    /* text-align: center; */
}
.box img{
    width:100px;
    float:left;
    padding-right:5px;
    padding-bottom:5px;
}
.box-content{
    /* padding-right:5px; */
    font-size:15px;
}